<%= form_for @padre do |f| %>
  <% if @padre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@padre.errors.count, "error") %> prohibited this father from being saved:</h2>

      <ul>
      <% @padre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>