<h1>Aula de Alumnos</h1>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<%end%>

<%= @padre.full_name %> (<%= @padre.phone %>)

<%= link_to 'Edit', edit_padre_path %> |
<%= link_to 'Back', padres_path %>
