<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.select(:name, Subject.all.map {|p| [ p.name, p.id] }) %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br>
    <%= f.text_field :schedule %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.select :level, Subject::LEVELS %>
  </div>
  <div class="field">
    <% if @teacher %>
      <%= f.hidden_field :teacher_id, @teacher.id %>
    <% else %>
      <%= f.label :teacher_id %><br>
      <%= f.select(:teacher_id, Teacher.all.map {|p| [ p.name, p.id ] }) %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
